<html>
  <head>
    {% if chapter %}
    <title>REVENGE! - {{chapter}}</title>
    {% else %}
    <title>REVENGE!</title>
    {% endif %}
  </head>
  <body>
    {% if chapter %}
    <h1>REVENGE! - {{chapter}}</h1>
    {% else %}
    <h1>REVENGE!</h1>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>