{% extends "base.html" %}

{% block content %}

Date: June 2002. You're Amanda Clarke.
</br>
Your father is David Clarke, convicted of helping launder money
</br>
for the domestic terrorists who blew up Flight 197 on June 4, 1993.
</br>
You've just been released from Allenwood Juvenile Detention Facility after two years.
</br>
Picking you up is Nolan Ross.
</br></br>
Nolan hands you a box and tells you that your father is not who you think he is.
</br>
He also tells you that there is a key in the box that unlocks a safe in Switzerland
</br>
with billions of dollars, the earnings from your father investing in his company.
</br></br>
<b>What do you do?</b>
</br></br>
1) Ignore the contents of the box. You already know what your father did.
</br>
   But definitely take the money. There is some sweet partying to be done.
</br>
2) You're intrigued. You go through the contents of the box.
</br>
   And take the money. It is yours, after all.
{% endblock %}